<h1>New Post</>
<%= bootstrap_form_with model: @post, url: create_post_path, local: true do |f| %>
    <h3><%= f.text_field :title %></h3>
    <h3><%= f.text_area :text, size: "70x5" %></h3>
    <%= f.submit %>
<% end %>